@import url("https://use.typekit.net/jmk3xov.css");
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: url('loader.gif') no-repeat center center;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  grid-column: 5/ span 5;
  font-style: normal;
  text-align-last: center;
}
h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 5/ span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 4/ 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 9/ span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
.button2:hover {
    background-color: #008CBA;
    color: white;
  }
.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button3:hover {
    background-color: #4CAF50;
    color: white;
  }
.button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button4:hover {
    background-color: #4CAF50;
    color: white;
  }
.button4 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button5:hover {
    background-color: #4CAF50;
    color: white;
  }
.button5 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button6:hover {
    background-color: #4CAF50;
    color: white;
  }
.button6 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button7:hover {
    background-color: #4CAF50;
    color: white;
  }
.button7 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button8:hover {
    background-color: #4CAF50;
    color: white;
  }
.button8 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }


  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  